body{
    font-family: Arial, Helvetica, sans-serif;   
}
#baner{
    background-color: rgb(70, 130, 180);
    color: white;
    height: 30px;
    text-align: center;
}
#glowny{
    background-color: rgb(176, 196, 222);
    padding: 50px;
    text-align: center;
}
#lewy{
    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px;
    width: 80%;
    float: left;
}
#prawy{
    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px;
    width: 20%;
    float: left;
}
#stopka{
    background-color: rgb(70, 130, 180);
    color: white;
    height: 30px;
    text-align: center;
    clear: both;
}
#glowny img{
    padding: 1px;
    border: dotted blue;
    border-radius: 10px;
}
#lewy img{
    height: 40%;
}
#lewy img:hover{
    border: solid white;
    border-width: 1px;
}